* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container {
    max-width: 90%;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin: 0 auto 24px;
    max-width: 62%;
}

.font12 {
    font-size: 2rem;
}

.font32 {
    font-size: 32px;
}

header {
    background: #f7f7f7;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding: 16px;
    font-family: Google Sans;
    font-size: 40px;
    font-weight: bold;
}

main {
    text-align: center;
}

section {
    background: #fff;
    padding: 3rem 0 5rem;
    text-align: center;
}

section:nth-child(even) {
    background: #f4f5f7;
}

section .description {
    padding: 16px;
    border-radius: 8px;
    min-height: 200px;
    font-size: 1.2rem;
    display: inline-block;
}

section p {
    line-height: 2.5;
    text-align: left;
}

section p span {
    display: inline-block;
    margin: 6px 12px;
}

.grey {
    color: #666;
}

a.button {
    background: #0b57d0;
    align-items: center;
    border-radius: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    padding: 0 32px;
    text-align: center;
    transition: background-color .3s, color .3s;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
}

.icon {
    display: inline-block;
    margin: 6px 24px;
    color: #8d8d8d;
    cursor: default;
}

.icon i {
    font-size: 24px;
    display: block;
    margin: 4px 0;
}

.icon .os {
    font-size: 15px;
    display: block;
    margin: 4px 0;
}

footer {
    position: relative;
    padding: 24px;
    text-align: center;
    color: #666;
}